.userProfilePage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 960px;
  padding: 30px 20px 0;
  /* padding-top: 24px; */
  width: 100%;
}

.userContainer {
  /* background-color: beige; */
  /* box-sizing: border-box;
        max-width: 960px;
        padding: 30px 20px 0;
        padding-top: 24px;
        width: 100%; */
}

.userProfileHeader {
  display: flex;
  flex-direction: row;
  margin-bottom: 44px;
}

/* header comp */
.userAvtar {
  width: 290px;
  height: 150px;
  display: flex;
  /* background-color: aqua; */
  margin: 0px 30px 0px 0px;
  justify-content: center;
}
.addProfileImg {
  width: 150px;
  height: 100%;
}
.addProfileImg > button {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: transparent;
  /* border: 1px solid #c7c7c7 */
}
.addProfileImg > img {
  object-fit: cover;
}

/* username in profie  */
.userProfileUserName {
  display: flex;
  width: 100%;

  /* display: flex; */
  /* align-items: center; */

  /* border: 2px solid red; */
  justify-content: space-between;
}
.userProfileUserName > span {
  /* display: flex; */
  font-size: 20px;
}
.editProfileBtn {
  background-color: #efefef;
  padding: 0px 16px;
  font-size: 14px;
  border-radius: 8px;
  line-height: 14px;
  transition: all 0.2s linear;
  margin-left: 10px;
  font-weight: 600;
}
.editProfileBtnCustom:hover {
  background-color: #d2d2d2;
}

.userContentList {
  display: flex;
  align-items: center;
  gap: 35px;
}
.userContentList div {
  margin: 20px 0;
}

/* user profile navigation bar  */
.userProfileNavBar {
  display: flex;
  border-top: 1px solid #c7c7c7;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  height: 52px;
  font-size: 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.userProfileNavBar a {
  color: black;
  letter-spacing: 1px;
  font-weight: 600;
}
.userProfileNavBar a div {
  display: flex;
}
.userProfileNavBar a div span {
  margin: 0px 0px 0px 6px;
}

.userProfileNavBar a:not(:last-child) {
  margin-right: 60px;
}

/* main content  */
.contentOfUserProfile {
  height: 700px;
  background-color: beige;
  display: flex;
  flex-wrap: wrap;
}
.showImg {
  display: block;
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;
}

.showImg > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

/* footer */
.userProfilePageFooter {
  margin: 50px;
  /* flex: 1; */
}

/* grid view  */
.userPostGallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 5vw);
  grid-gap: 15px;
}

.galleryImg {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  max-height: 300px;
  background-color: black;
  cursor: pointer;
}
.galleryImgInside {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.userOptions {
  text-decoration: none;
  color: black;
}
.userProfileNavBar div {
  display: flex;
  align-items: center;
}
a {
  text-decoration: none;
}

.followFollwerBtn {
  font-weight: bold;
  background-color: transparent;
}
.removeBg {
  background-color: white;
}
.imageBorder {
  border: 2px solid rgb(202, 202, 202);
  box-sizing: border-box;
  border-radius: 50%;
}
.galleryImgInsideDiv {
  width: 100%;
  height: 100%;
  position: absolute;

  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.comments,
.likes {
  display: flex;
  gap: 10px;
}

.comments,
.likes span {
  color: white;
}
.followBtn {
  background-color: #0095f6;
  color: white;
  transition: all 0.2s linear;
}
.followBtn:hover {
  background-color: #0081d7;
}
.userRealName {
  display: none;
}

@media screen and (max-width: 650px) {
  .userProfileHeader {
    flex-direction: column;
    margin-bottom: 0;
  }
  .userContentList {
    display: flex;
    align-items: center;
    gap: 35px;
    justify-content: space-around;
    margin-top: 30px;
    border-top: 1px solid lightgray;
  }
  .userContentList div {
    margin: 20px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .userProfileUserName {
    display: flex;
    justify-content: space-between;
    /* gap: 50px; */
    margin: 20px 0;
  }
  .userprofileName {
    padding-left: 30px;
  }
}

@media screen and (max-width: 800px) {
  .imageBorder {
    width: 100px;
  }
  .userAvtar {
    width: 100px;
    height: 100px;
    display: flex;
    /* background-color: aqua; */
    margin: 0px 30px 0px 0px;
    justify-content: center;
  }
  .userRealName {
    display: inline-block;
    font-size: 15px;
  }
  .usernamespan {
    display: none;
  }
}
